<footer class="md__page-footer">

    <div class="container">

        <div class="row">

            <div class="col-md-12 ">
                <div class="mb-5">

                    <!-- Facebook -->
                    <a class="">
                    </a>
                    <!-- Twitter -->
                    <a class="">
                    </a>
                    <!-- Google +-->
                    <a class="">
                    </a>
                    <!--Linkedin -->
                    <a class="">
                    </a>
                    <!--Instagram-->
                    <a class="">
                    </a>
                    <!--Pinterest-->
                    <a class="">
                    </a>
                </div>
            </div>

        </div>

    </div>
    <div class="text-center">&copy; 2019 Made by
        <a href="#"> kiwsan</a>
    </div>

</footer>
