<footer class="md__page-footer">

    <a href="" target="_blank">
        <fa-icon [icon]="['fab','github']"></fa-icon>
        <span>Github</span>
    </a>
    <a href="" target="_blank">
        <fa-icon [icon]="['fab','twitter']"></fa-icon>
        <span>Twitter</span>
    </a>
    <a href=""
       target="_blank">
        <fa-icon [icon]="['fab','youtube']"></fa-icon>
        <span>Youtube</span>
    </a>
    <a href="" target="_blank">
        <fa-icon [icon]="['fab','instagram']"></fa-icon>
        <span>Instagram</span>
    </a>

    <p class="mt-1">&copy; 2019 Made by kiwsan</p>
</footer>
