<app-container-todo-editor></app-container-todo-editor>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>

            <span>Todo List</span>
            <mat-chip-list>
                <mat-chip>Papadum</mat-chip>
                <mat-chip>Naan</mat-chip>
                <mat-chip>Dal</mat-chip>
            </mat-chip-list>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <fa-icon icon="filter"></fa-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>All</button>
                <button mat-menu-item>Done</button>
                <button mat-menu-item>Active</button>
            </mat-menu>

        </h2>

        <app-todo-container-item></app-todo-container-item>
    </div>
    <div class="col-sm-12 col-md-6">
        <h4>Example</h4>
    </div>
</div>
